{% extends "taskmanager/presentF1.html" %}


{% block details %}

    <a href="{% url 'F1start' %}" class="btn btn-primary" style="float: right;">Tableau de bord</a>
    <h3> Mes tâches : </h3>
    <br/>
    <form action="{% url 'mes tâches' %}" method="get">
        <div class="form-group">
            <select class="form-control-sm" name="finished">
                <option value="None" selected>Afficher seulement les tâches terminées.. </option>
                <option value="False">Non</option>
                <option value="True">Oui</option>
            </select>
            <button type="submit" class="btn btn-secondary">Ok</button>
        </div>
    </form>
    <table class="table">
        <tr>
            <th>Task</a></th>
            <th>Project</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Status</th>

        </tr>

        {% for task in  tasks %}
            <tr>
                <div class="tache">

                    <td><a href="{% url 'tache' task.id %}" style="text-align: left ">{{ task.name }}</a></td>
                    <td><a href="{% url 'liste_tache' task.project.id %}">{{ task.project.name }}</a></td>
                    <td>{{ task.start_date }}</td>
                    <td><p class=" badge badge-warning">{{ task.due_date }}</p></td>
                    <td>{{ task.status }}</td>

                </div>
            </tr>
        {% empty %}
            <p>Aucune tâches assignées</p>
        {% endfor %}

    </table>

{% endblock %}