{% extends "taskmanager/presentF1.html" %}
{% block title %}{% endblock %}

{% block nav %}
  <h3><a href = "{% url 'project' %}">Projets</a>
{% endblock %}

{% block inter %}
    <a href="{% url 'F1start' %}" class="btn btn-primary" style="float: right;">Tableau de bord</a>
    <h2>Voici les projets</h2>
{% endblock %}

{% block details %}

    <table class = "table">

    {% for project in  projects %}
        <tr>
        <div class="project">

            <td><a href = "{% url 'liste_tache' id=project.id%}">{{ project.name }}</a></td>
            <td>
                {% for user in project.members.all %}
                    <span class="badge badge-primary">{{ user.username }}</span>
                {% empty %}
                    <p> Aucun utilisateur assigné au projet</p>
                {% endfor %}
            </td>


        </div>

        </tr>

    {% empty %}
        <p>Aucun projets</p>
    {% endfor %}

    </table>
{% endblock %}