{% extends "base.html" %}
{% block title %}{% endblock %}
{% block nav %}
  <h3><a href = "{% url 'project' %}">Projets</a> / <a href = "{% url 'liste_tache' id=project.id %}">{{project.name}}</a>
</h3>
{% endblock %}

{% block inter %}
<h2 style = "text-align:center"><b>{{project.name}}</b></h2>
{% endblock %}

{% block content %}




    <p><a href = "{% url 'new' id=project.id %}" type="button" class="btn btn-primary"> New task  </a></p>
    <table class = "table" >
    <tr>
        <th>Task</th>
        <th>Assignee</th>
        <th>Start date</th>
        <th>Due date</th>

    </tr>

    {% for tache in  taches %}
        <tr>
        <div class="tache">

            <td><a href = "{% url 'tache' id=tache.id %}">{{ tache.name }}</a></td>
             <td>{{ tache.assignee }}</td>
             <td>{{ tache.start_date }}</td>
            <td><p class="badge badge-warning">{{ tache.due_date }}</p></td>
        </div>
        </tr>
    {% empty %}
        <p>Aucune tâches assignées</p>
    {% endfor %}

    </table>
{% endblock %}