{% extends "taskmanager/presentF1.html" %}

{% block title %}{% endblock %}

{% block nav %}
    <h3><a href="{% url 'project' %}">Projets</a> / <a
            href="{% url 'liste_tache' id=project.id %}">{{ project.name }}</a>
    </h3>
{% endblock %}


{% block inter %}

    <a href="{% url 'F1start' %}" class="btn btn-primary" style="float: right;">Tableau de bord</a>
    <h2 style="text-align:center"><b>{{ project.name }}</b></h2>
    <h6> <a href = "{% url 'hist_tache' id=project.id %}">Histogramme actions</a> - <a href = "{% url 'gant' id=project.id %}">Diagramme durée</a></h6>

{% endblock %}

<!-- Block de filtre de recherche -->
{% block filter %}
    <h5> Recherche avancée :</h5>
    </br>
    <form action="{% url "liste_tache" project.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <br/>
        <!-- Bouton pour lancer la recherche -->
        <div class="input-group-append">
            <input type="submit" value="Rechercher Tâche" class="btn btn-primary"/>
        </div>
        </div>
    </form>
    <hr/>
{% endblock %}



{% block details %}

    <p><a href="{% url 'new' id=project.id %}" type="button" class="btn btn-primary"> New task </a></p>
    <p>
        <!-- Formulaire de tri des données -->
    <form action="{% url 'liste_tache' project.id %}" method="get">
        <div class="form-group">
            <select class="form-control-sm" name="sort">
                <option value="None" selected>Sort by...</option>
                <option value="name">Name</option>
                <option value="assignee">Assignee</option>
                <option value="start_date">Start date</option>
                <option value="due_date">Due date</option>
                <option value="priority">Priority</option>
                <option value="status">Status</option>
            </select>
            <button type="submit" class="btn btn-secondary">Ok</button>
        </div>
    </form>
    <p/>
    <table class="table">
        <tr>
            <th>Task</a></th>
            <th>Assignee</th>
            <th>Start date</th>
            <th>Due date</th>
            <th></th>

        </tr>

        {% for tache in  taches %}
            <tr>
                <div class="tache">

                    <td><a href="{% url 'tache' id=tache.id %}" style="text-align: left ">{{ tache.name }}</a></td>
                    <td>{{ tache.assignee }}</td>
                    <td>{{ tache.start_date }}</td>
                    <td><p class="badge badge-warning">{{ tache.due_date }}</p></td>
                    <td><a href="{% url 'edit' id=tache.id %}" class="badge badge-danger"> EDIT </a></td>

                </div>
            </tr>
        {% empty %}
            <p>Aucune tâches assignées</p>
        {% endfor %}

    </table>
{% endblock %}