<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        Calend-me
        {% endblock %}
    </title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--script pour l'affichage des charts-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- CECI EST LE TEMPLATE DE BASE DU SITE WEB, L'ENSEMBLE DES TEMPLATES SONT BASES SUR CELUI CI -->
</head>
<body>
<header>
    <div class="jumbotron">
    <h1>Calend-me</h1>
        <h3>Bonjour ! <b>{{request.user}}</b></h3>
    <p style = "text-align:right" ><a href=" {% url 'logout' %}"> Se deconnecter</a></p>
    </div>

</header>
    <nav>
        <ul class="breadcrumb" >
       {% block nav %}
       {% endblock %}

        </ul>


   </nav>
   <section id="content">

    <div class="container-fluid ">
        {% block inter %}
        {% endblock %}





       {% block content %}
       {% endblock %}
     </div>
    {% block chart %}
    {% endblock %}
   </section>

<footer>     &copy; Titouan Dellis  </footer>
</body>
</html>